<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<img src="assets/icon/favicon.png" style="height:26px; position: absolute; top: 0px" />
			<span class="product-name">{{appEnvironment.productName}}</span>
		</ion-title>
		<ion-buttons slot="start">
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- recording time -->
			<div class="recording-time" *ngIf="recording">
				Recording: <span class="recording-time-text">{{recordingTime}}</span>
			</div>

			<ion-button size="large" (click)="startRecording()" *ngIf="!recording" [disabled]="saving" style="width: 36px" title="Start recording">
				<ion-icon name="ellipse" style="color:red;  font-size: 0.9em;"></ion-icon>
			</ion-button>
			<ion-button size="large" (click)="stopRecording()" *ngIf="recording" title="Stop recording">
				<ion-icon name="stop"></ion-icon>
			</ion-button>
			<ion-button size="large" (click)="takePhoto()" title="Take photo">
				<ion-icon name="camera-outline"></ion-icon>
			</ion-button>
			<ion-button size="large" (click)="toggleMute()" *ngIf="recordAudio" [disabled]="recording" title="Mute microphone">
				<ion-icon name="mic-outline"></ion-icon>
			</ion-button>
			<ion-button size="large" (click)="toggleMute()" *ngIf="!recordAudio" [disabled]="recording" title="Unmute microphone">
				<ion-icon name="mic-off-outline"></ion-icon>
			</ion-button>
			<ion-button size="large" (click)="toggleFullscreen()" [disabled]="recording" title="Toggle fullscreen">
				<ion-icon name="resize-outline"></ion-icon>
			</ion-button>
			<ion-button id="menu-popover-button" [disabled]="recording" title="More...">
				<ion-icon name="ellipsis-horizontal"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<!-- extended menu -->
<ion-popover trigger="menu-popover-button" [dismissOnSelect]="true" size="auto">
	<ng-template>
		<ion-content>
			<ion-list>
				<!-- todo: Open media folder -->
				<ion-item [button]="true" (click)="isSessionAlertOpen=true" [detail]="false"><ion-label>Set session name</ion-label></ion-item>
				<ion-item [button]="true" id="settings-trigger" [detail]="true">Settings...</ion-item>
				<ion-item [button]="true" (click)="isAboutOpen=true"><ion-label>About</ion-label></ion-item>
				<!-- settings menu -->
				<ion-popover trigger="settings-trigger" [dismissOnSelect]="true" side="end">
					<ng-template>
						<ion-content>
							<ion-list>
								<ion-item [button]="true" id="select-device" (click)="getDevices()"><ion-label>Detect devices</ion-label></ion-item>
								<ion-item [button]="true" [detail]="false" (click)="selectCamera()"><ion-label>Select camera</ion-label></ion-item>
								<ion-item [button]="true" [detail]="false" (click)="selectMicrophone()"><ion-label>Select microphone</ion-label></ion-item>
								<ion-item [button]="true" (click)="toggleMute()" [detail]="false"><ion-label>Toggle mute status</ion-label></ion-item>
							</ion-list>
						</ion-content>
					</ng-template>
				</ion-popover>
			</ion-list>
		</ion-content>
	</ng-template>
</ion-popover>

<ion-content [fullscreen]="true" style="--background:black">
	<!-- video element -->
	<video #videoElement width="100%" height="100%"></video>

	<!-- take photo button with white border and white icon -->
	<ion-button class="touch-button" fill="clear" id="touch-take-photo" (click)="takePhoto()" [disabled]="saving">
		<ion-icon name="camera-outline" style="color:white"></ion-icon>
	</ion-button>
	<!-- start recording & stop recording buttons -->
	<ion-button class="touch-button" fill="clear" id="touch-start-recording" (click)="startRecording()" *ngIf="!recording" [disabled]="saving">
		<ion-icon name="ellipse" style="color:red"></ion-icon>
	</ion-button>
	<!-- stop recording -->
	<ion-button class="touch-button" fill="clear" id="touch-stop-recording" (click)="stopRecording()" *ngIf="recording" [disabled]="saving">
		<ion-icon name="stop" style="color:white"></ion-icon>
	</ion-button>

	<!-- screen shot -->
	<canvas id="canvas" style="display:none"></canvas>
	<div class="output" style="display:none">
		<img id="photo" alt="The screen capture will appear in this box." style="width: 1024px; height: 1024px;" />
	</div>

	<!-- session name -->
	<ion-button fill="clear" id="present-session-alert" (click)="isSessionAlertOpen = true"><span class="session" *ngIf="session">{{session}} <ion-icon name="pencil"></ion-icon></span></ion-button>

	<!-- camera selector (hidden) -->
	<div class="camera-selector">
		<ion-select id="ion-select-device" [(ngModel)]="selectedDevice" trigger="select-device" interface="action-sheet" title="Select camera" *ngIf="devices" (ionChange)="deviceSelected($event)" placeholder="Select camera" [disabled]="recording">
			<ion-select-option *ngFor="let device of devices" [value]="device.deviceId">{{device.label}}</ion-select-option>
			<ion-select-option value="refresh">Look for another camera...</ion-select-option>
		</ion-select>
	</div>

	<!-- microphone selector (hidden) -->
	<div class="microphone-selector" style="display:none">
		<ion-select id="ion-select-microphone" [(ngModel)]="selectedMicrophone" interface="action-sheet" title="Select microphone" (ionChange)="microphoneSelected($event)" placeholder="Select microphone" [disabled]="recording">
			<ion-select-option *ngFor="let device of audioDevices" [value]="device.deviceId">{{device.label}}</ion-select-option>
		</ion-select>
	</div>
</ion-content>

<!-- session -->
<ion-alert [isOpen]="isSessionAlertOpen" mode="md" header="Session name" [buttons]="alertButtons" [inputs]="sessionAlertInputs" (didDismiss)="setSessionNameResult($event)" style="--max-width: 500px; --width: 500px"></ion-alert>

<!-- about -->

<ion-modal #modal [isOpen]="isAboutOpen" expand="block" mode="md">
	<ng-template>
		<ion-header>
			<ion-toolbar>
				<ion-title>About</ion-title>
				<ion-buttons slot="end">
					<ion-button [strong]="true" (click)="modal.dismiss()">Close</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">
			<h1>About {{appEnvironment.productName}}</h1>
			<h5>Version {{appVersion}}</h5>
			<p>{{appEnvironment.productName}} is an app for viewing and recording video input from endoscopes and boroscopes.</p>
			<p>Powered by <a target="_blank" href="https://github.com/below43/endo-studio">EndoStudio</a>
				(License: <a target="_blank" href="https://github.com/below43/endostudio/blob/main/LICENSE">MIT</a>)<br />
				Author: <a target="_blank" href="https://andrew.drake.nz">Andrew Drake</a><br />
				&copy; Below 43 Ltd (<a target="_blank" href="https://below43.nz">below43.nz</a>) 2023</p>
		</ion-content>
	</ng-template>
</ion-modal>